.app-header {
  position: absolute;
  width: 100%;
  height: 5rem;
  top: 0;
  padding: 1rem 1.5rem;
  box-shadow: 0 0 .5rem #0003;
  z-index: 100;

  .items-end {
    display: flex;
    gap: 1rem;
    float: left;
    direction: ltr;

    .user {
      display: flex;
      gap: .5rem;
      cursor: default;

      .user-img {
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        overflow: hidden;
        background-color: #eee;
        box-shadow: 0 0 .5rem #0003;

        img {
          max-width: 100%;
        }
      }

      .user-info {
        direction: ltr;
        padding-block: .5rem;

        .user-name {
          font-size: 1rem;
          line-height: 1rem;
          font-weight: bold;
        }

        .user-title {
          font-size: .75rem;
          line-height: 1rem;
          color: #A1A1A1;
        }
      }

      .user-actions-container {
        position: relative;

        .user-actions-toggle:focus,
        .user-actions-toggle {
          background-color: transparent;
          border: none;
          padding: .5rem;
          height: 3rem;
          width: 1.5rem;
          border-radius: .5rem;
          outline: none;

          &.open,
          &:focus,
          &:hover {
            box-shadow: 0 0 .5rem #0003;
          }

          &.open .user-actions {
            display: block;
          }
        }

        .user-actions {
          position: absolute;
          direction: rtl;
          top: calc(100% - .5rem);
          left: .5rem;
          background-color: #fff;
          padding: 0.5rem;
          border-radius: 0.5rem;
          width: 10rem;
          z-index: 1000;
          box-shadow: 0 0 1rem 0 #0003;
          display: none;

          .user-action {
            display: grid;
            grid-template-columns: 2rem 1fr;
            line-height: 1rem;
            border-radius: .25rem;
            padding: .5rem;
            margin-bottom: .5rem;
            cursor: pointer;

            &:last-of-type {
              margin-bottom: 0;
            }

            &:hover {
              background-color: #eee;
            }
          }
        }

        .user-actions-toggle.open+.user-actions {
          display: block;
        }
      }
    }

    .notification-toggle:focus,
    .notification-toggle {
      background-color: transparent;
      position: relative;
      border: none;
      padding: .5rem;
      font-size: 1.5rem;
      height: 3rem;
      width: 3rem;
      border-radius: .5rem;
      outline: 0;

      &:focus,
      &:hover {
        box-shadow: 0 0 .5rem #0003;
      }

      .notification-count {
        position: absolute;
        top: 0.5rem;
        left: 0.1rem;
        width: 1.3rem;
        height: 1.3rem;
        border-radius: 50%;
        font-size: 0.7rem;
        line-height: 1.2rem;
        color: #fff;
        border: 0.1rem solid #fff;
        text-align: center;
        background-color: #dc3545;
      }
    }
  }
}